:root {
  --set-gap: 30px;
  --set-item: 3;
}

body {
  font-family: Roboto, sans serif, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16em;
  color: #212121;
}

.address-list {
  margin-left: auto;
}

.address-list__item:not(:last-child) {
  margin-right: 30px;
}

.address-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196F3;
}

.address-list__icon {
  margin-right: 10px;
}

.header {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.logo--white {
  color: #FFFFFF;
}
.logo--black {
  color: #000000;
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.current-link {
  position: relative;
  color: #2196F3;
}
.current-link::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.hero__title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.hero__btn {
  animation: rotateY 2000ms infinite alternate-reverse cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: perspective(200px) rotateY(20deg);
            transform: perspective(200px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(-20deg);
            transform: perspective(200px) rotateY(-20deg);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: perspective(200px) rotateY(20deg);
            transform: perspective(200px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(-20deg);
            transform: perspective(200px) rotateY(-20deg);
  }
}
.feature__list {
  --set-item:4;
}

.feature__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: var(--set-gap);
  border-radius: 4px;
  background-color: #F5F4FA;
  animation: changeBgcolor 2000ms infinite alternate-reverse cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

@-webkit-keyframes changeBgcolor {
  0% {
    background-color: #EEEEEE;
  }
  50% {
    background-color: #AFB1B8;
  }
  100% {
    background-color: #2196F3;
  }
}

@keyframes changeBgcolor {
  0% {
    background-color: #EEEEEE;
  }
  50% {
    background-color: #AFB1B8;
  }
  100% {
    background-color: #2196F3;
  }
}
.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.work {
  padding-top: 0;
}

.work__thumb {
  position: relative;
}

.work__descr {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

.team__list {
  --set-item:4;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__content {
  padding-top: var(--set-gap);
  padding-bottom: var(--set-gap);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team__descr,
.team__title {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.team__descr {
  margin-bottom: 16px;
}

.clients__list {
  --set-item:6;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #AFB1B8;
  color: #AFB1B8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.clients__icon {
  fill: currentColor;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  padding: 6px 22px;
  font-family: Roboto, sans serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196F3;
  color: #FFFFFF;
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__content {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__descr {
  font-size: 16px;
  line-height: 1.8;
}

.portfolio__thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  opacity: 0;
}
.portfolio__link:hover .portfolio__text, .portfolio__link:focus .portfolio__text {
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__form {
  min-width: 448px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 10px;
  color: #000000;
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196F3;
}

.modal__icon {
  fill: currentColor;
}

.modal__btn {
  position: relative;
}
.modal__btn::after {
  position: absolute;
  top: 10px;
  right: 20px;
  content: "";
  display: block;
  background-image: url(../images/icon-send.svg);
  width: 24px;
  height: 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:focus::after {
  -webkit-transform: translateY(-20px) translateX(50px);
          transform: translateY(-20px) translateX(50px);
}

.modal__descr {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.modal__form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
  color: #212121;
}

.modal__form-input {
  display: block;
  padding: 14px;
  padding-left: 42px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus-within > .modal__form-input {
  border-color: #2196F3;
}

.modal__form-label {
  position: absolute;
  top: 18px;
  left: 35px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus-within > .modal__form-label {
  -webkit-transform: translateY(-35px) translateX(-35px);
          transform: translateY(-35px) translateX(-35px);
}
.modal__form-input:not(:-moz-placeholder-shown) + .modal__form-label {
  transform: translateY(-35px) translateX(-35px);
}
.modal__form-input:not(:-ms-input-placeholder) + .modal__form-label {
  transform: translateY(-35px) translateX(-35px);
}
.modal__form-input:not(:placeholder-shown) + .modal__form-label {
  -webkit-transform: translateY(-35px) translateX(-35px);
          transform: translateY(-35px) translateX(-35px);
}

.modal__form-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  display: block;
  margin-right: 5px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus-within > .modal__form-icon {
  color: #2196F3;
}

.modal__label-comment {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__textarea {
  resize: none;
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  border-color: #2196F3;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
}

.modal__checkbox-icon {
  display: block;
  margin-right: 9px;
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
  width: 16px;
  height: 15px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__checkbox-icon {
  background-image: url(../images/icon-checkmark.svg);
  background-color: #2196F3;
  background-position: center;
  background-repeat: no-repeat;
}
.modal__checkbox:hover + .modal__checkbox-icon, .modal__checkbox:focus + .modal__checkbox-icon {
  border-color: #2196F3;
}

.modal__checkbox-label {
  display: block;
}

.modal__checkbox-link {
  position: relative;
  color: #2196F3;
  text-decoration: none;
}
.modal__checkbox-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #2196F3;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-family: Roboto, sans serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  overflow: hidden;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--set-gap);
}

.card-item {
  -ms-flex-preferred-size: calc((100% - var(--set-gap) * (var(--set-item) - 1)) / var(--set-item));
      flex-basis: calc((100% - var(--set-gap) * (var(--set-item) - 1)) / var(--set-item));
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:first-child) {
  margin-left: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.socials__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.address {
  font-style: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.footer__item {
  margin-bottom: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}

.footer__link--main {
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--main:hover, .footer__link--main:focus {
  color: #2196F3;
}

.footer__icon {
  fill: #FFFFFF;
}

.footer__slogan {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer__form {
  margin-left: auto;
}

.footer__input {
  display: block;
  padding: 15px;
  min-width: 358px;
  min-height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
  color: #FFFFFF;
}
.footer__input::-webkit-input-placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer__icon-send {
  display: block;
  margin-left: 10px;
}

.footer__btn {
  animation: scale 1500ms infinite alternate-reverse cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: perspective(200px) scale(0.9);
            transform: perspective(200px) scale(0.9);
  }
  100% {
    -webkit-transform: perspective(200px) scale(1.1);
            transform: perspective(200px) scale(1.1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: perspective(200px) scale(0.9);
            transform: perspective(200px) scale(0.9);
  }
  100% {
    -webkit-transform: perspective(200px) scale(1.1);
            transform: perspective(200px) scale(1.1);
  }
}/*# sourceMappingURL=main.css.map */