.hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
           $hero-gradient,$hero-gradient,)
        url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C4C4C4;

}

.hero__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
}

@include mq(desk){
    .hero__btn {
    
             animation: rotateY 2000ms infinite alternate-reverse cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
        }
    
        @keyframes rotateY {
            0% {
                transform: perspective(200px) rotateY(20deg);
            }
    
            100% {
                transform: perspective(200px) rotateY(-20deg);
            }
        }
}



@include mq(noDesk) {
    .hero{
padding-top: 118px;
padding-bottom: 118px;
        &__title{
            max-width: 360px;
            font-size: 26px;
            line-height: calc(42 / 26);
        }
    }
}

@include mq(desk){
    .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    }
}

@include mq(desk){
    .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    }
}

@include mq(mob-only){
    .hero{
     background-image: linear-gradient(to right,
                $hero-gradient, $hero-gradient,),
                url("../images/mobileimg/hero1x.jpg");
        background-size: cover;
    }
    @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero{
                background-image:linear-gradient(to right,
                       $hero-gradient,$hero-gradient,),
                        url("../images/mobileimg/hero2x.jpg");

            }
        }
        @media screen and(min-device-pixel-ratio: 3),
                  screen and (min-resolution: 288dpi),
                  screen and (min-resolution: 3dppx){
            .hero{
                background-image:linear-gradient(to right,
                        $hero-gradient,$hero-gradient,), url("../images/mobileimg/hero3x.jpg");
            }
        }
    }
@include mq(tab){
    .hero{
        background-image: linear-gradient(to right,
                   $hero-gradient,$hero-gradient,),
                url("../images/tabletimg/hero1x.jpg");
            background-size: cover;
    }
         @media screen and (min-device-pixel-ratio: 2),
         screen and (min-resolution: 192dpi),
         screen and (min-resolution: 2dppx) {
           .hero{
            background-image:linear-gradient(to right,
                   $hero-gradient,$hero-gradient,),
                     url("../images/tabletimg/hero2x.jpg");
           }
}
        @media screen and(min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            .hero{
            background-image: linear-gradient(to right,
           $hero-gradient,$hero-gradient,),
            url("../images/tabletimg/hero3x.jpg");
        }
    }
}

@include mq(desk) {
    .hero {
        background-image:linear-gradient(to right,
             $hero-gradient,$hero-gradient,),
                 url("../images/desktopimg/hero1x.jpg");
                 background-size: cover;
    }
          @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
            .hero {
                background-image:linear-gradient(to right,
                       $hero-gradient,$hero-gradient,),
                         url("../images/desktopimg/hero2x.jpg");
                 }
          }
                   @media screen and(min-device-pixel-ratio: 3),
                   screen and (min-resolution: 288dpi),
                   screen and (min-resolution: 3dppx) {
                    .hero {
                        background-image:linear-gradient(to right,
                             $hero-gradient,$hero-gradient,),
                                 url("../images/desktopimg/hero3x.jpg");
                    }
            }

}