.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-background;
    opacity: 1;
    transition: opacity $transition, visibility $transition;
} 

@media screen and (max-width: $mob-only) {
    .backdrop {
        padding: 94px 15px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: $tab) {
    .backdrop {
    overflow-y: scroll;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}