.logo {
    @extend %link;
    font-family: $logo-font-family;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $accent-color;

    &--white{
        color: $secondary-text-color;
    }

    &--black{
        color: $logo-title-color;
    }
    
}

.footer__logo {
    // display: flex;
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: calc(28 / 24);

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.header__logo {
    @media screen and (max-width: 767px){
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header__logo {
    @media screen and (min-width: $tab) {
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

 @media screen and (max-width: 1199px) {
    .header__logo {
        font-size: 24px;
        line-height: calc(28 / 24);
    }
 }



 @media screen and (min-width: $desk){
    .logo{
        font-size: 26px;
        line-height: 1.19;
    }
    .header__logo{
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }
 }

 @media screen and (min-width: $desk){
    .footer__logo {
        padding: 0;
    }
 }





