.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__item:not(:first-child) {
    margin-left: 10px;
}

.socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: $icon-color;

    transition: background-color $transition,
        color $transition;

        &:hover,
        &:focus{
            background-color: $accent-color;
            color: $secondary-text-color;
        }
}

.socials__icon{
    fill: currentColor;
}