.section{
    padding-top: 60px;
    padding-bottom: 60px;

}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    line-height: 1.17;
    color: $title-text-color;
}

 @include mq(desk) {
    .section{
         padding-top: 94px;
         padding-bottom: 94px;

        &__title{
            font-size: 36px;
            line-height: 1.16;
            margin-bottom: $set-gap;
         }
   }
 }
