.header {
    position: relative;
    font-weight: 500;
    letter-spacing: 0.02em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $line-color;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-box {
    display: flex;
    align-items: center;
    width: 100%;
}

@include mq(desk) {
    .header{
        line-height: 1.14;
    }
}

@include mq(tab){
    .header{
        position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;

            &.no-transparency{
                background-color: rgba(245, 237, 237, 0.3);
                backdrop-filter: blur(10px);
                border-bottom: none;
            }
           
    }
}