.address-list{
    @extend %list;
}

.address-list__link{
    @extend %link;
    color: $main-text-color;
    fill: currentColor;
    transition: color $transition;

    &:hover,
    &:focus{
        color: $accent-color;
    }
}

 @include mq(mob-only) {
    .address-list__icon {
        display: none;
    }

    .address-list{
        margin-bottom: 64px;

        &__item:first-child{
        margin-bottom: 32px;
        font-size: 34px;
        line-height: calc(40 / 34);
        }

        &__item:last-child{
        font-size: 24px;
        line-height: calc(28 / 24);
        }
    }
        
}

        @include mq(tab-only){
    .address-list{
    margin-left: auto;
    font-size: 12px;
    line-height: calc(14 / 12);


    &__item:first-child {
    margin-bottom: 10px;
}

    &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    }
}
}  
@include mq(tab){
     .no-transparency .address-list__link{
        color: $logo-title-color;
        transition: color $transition;
     }
}


@include mq(desk) {
    .address-list {
        display: flex;
        gap: 30px;
        margin-left: auto;
        font-size: 14px;
        line-height: calc(16 / 14);

        &__item {
            align-items: center;
        }
    

    &__link {
    display: flex;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    }
}
}