.social-list{
    @extend %list;

    &__link{
        @extend %link;
        color: $accent-color;
    }
}


.header__social-list {
    @include mq(tab) {
        display: none;
    }
}

@include mq(mob-only) {

    .social-list {
       
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        line-height: calc(22 / 18);
        color: $accent-color;

        &__item:not(:last-child) {
            padding-right: 10px;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: rgba(33, 33, 33, 0.2);
            
        }
       
    }
    
}