.site-nav{
    @extend %list;
}

.menu{
    @extend %list;
}
.menu {
    @include mq(mob-only) {
        display: none;
    }
}

.site-nav{
    @include mq(mob-only) {
      display: flex;
      flex-direction: column;
      gap: 32px;

      &__item{
    font-size: 40px;
    line-height: 1.17;
      }
           
        }
    }

.site-nav__link {
    @extend %link;
    color: $title-text-color;
    transition: color $transition;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
@include mq(tab) {
    .site-nav{
        display: flex;
        align-items: center;
        gap: 50px;
        font-size: 14px;
        line-height: calc(16 / 14);

       &__link{
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
       }
    }
}

