.footer {
   
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $accent-background-color;
}

.address{
    font-style: inherit;
    color: $footer-address-color;
}

.footer__list{
    @extend %list;
}

.footer__link {
    @extend %link;
    color: $footer-address-color;
    transition: color $transition;

    &:hover,
    &:focus{
        color: $accent-color;
    }
}    
    .footer__link--main{
        @extend %link;
        color: $secondary-text-color;
        transition: color $transition;

            &:hover,
            &:focus {
                color: $accent-color;
            }
}

.footer__icon {
    fill: $secondary-text-color;
}

   
.footer__slogan {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    color: $secondary-text-color;
    text-transform: uppercase;
}
 @media screen and (max-width: 1199px){
    .footer__content {
            text-align: center;
        }
 }


@media screen and (max-width: $mob-only) {
   .footer__content{
    margin-bottom: 60px;
   }
}

@media screen and (max-width: 1199px){
    

    .footer__item:not(:last-child){
        margin-bottom: 8px;
    }
     .footer__slogan{
        text-align: center;
     }
        .footer__content {
        text-align: center;
            }
    }


@media screen and (min-width: $tab) and (max-width: 1199px){
    .footer__menu {
        display: flex;
        justify-content: space-around;
        gap: 165px;
       }
    }

 @media screen and (min-width: $tab) and (max-width: 1199px){
    .footer-container{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
 }


    


@media screen and (min-width: $desk) {
    .footer-container {
        display: flex;
        align-items: baseline;
        width: 100%;
        }

        .footer__menu{
            display: flex;
            align-items: baseline;
            gap: 70px;
        }
        
        .footer__item {
             margin-bottom: 9px;
        }
        
}