.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $accent-background-color;
}

.address{
    font-style: inherit;
    color: $footer-address-color;
}

.footer__link {
    color: $footer-address-color;
    transition: color $transition;

    &:hover,
    &:focus{
        color: $accent-color;
    }
}    
    .footer__link--main{
        color: $secondary-text-color;
        transition: color $transition;

            &:hover,
            &:focus {
                color: $accent-color;
            }
}

.footer__icon {
    fill: $secondary-text-color;
}

   
.footer__slogan {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    color: $secondary-text-color;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .footer__list {
        text-align: center;
    }
}

@media screen and (max-width: 1199px){
    .footer__list{
        margin-bottom: 60px;
    }

    .footer__item:not(:last-child){
        margin-bottom: 8px;
    }

    .footer__slogan{
        text-align: center;
    }
}


 @media screen and (min-width: $tab) and (max-width: 1199px){
    .footer__slogan {
        text-align: center;
    }
}

 

 @media screen and (min-width: $tab) {
    .footer__menu {
        display: flex;
        justify-content: space-between;
       }
    }

 @media screen and (min-width: $tab) and (max-width:1199px){
    .footer__list{
       padding-left: 61px;
       text-align: center;
    }

     .footer__content--socials {
            padding-right: 74px;
    }
 }


    


@media screen and (min-width: $desk) {
    .footer-container {
        display: flex;
        align-items: baseline;
       
    }
        .footer__item {
             margin-bottom: 9px;
        }
        .footer__content--socials {
            margin-left: 70px;
        }
}